@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -4px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display:block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
}

.navigation-link-right {
  position: relative;
  display:block;
  padding: 20px 13px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.link-heart::after {
  content: '12';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 13px;
  background: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1em;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-user .navigation-link-right {
  min-width: 16px;
  min-height: 22px;
}

.navigation-item {
  align-self: center;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-welcome {
  width: 1200px;
  background-image:
  url("../images/divider.svg"),
  url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  text-align: center;
  margin: 0 auto;
  padding-top: 51.4px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 83px;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 53.32px;
}

.reasons {
  text-align: center;
  background: #ffffff;
  color:#000000;
  width: 1200px;
  margin: 0 auto;
}

.reasons-title {
  font-family: "PT Sans", sans-serif;
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 63px;
  margin: 0;

}

.reasons-discription {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding-top: 31px;
  padding-bottom: 90px;
  margin: 0;
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-div {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-list {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
}

.adventeges-box {
  width:  400px;
}

.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 92px 90px 29px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-width {
  width: 400px;
  min-height: 384px;
}

.real-life {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  background-size: cover;
}

.advantages-numeration {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 28px 85px 92px;

}

.advantages-item-city {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-area {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-title-header {
  padding: 100px 117px 30px;
  color: #000000;
}

.services-icon {
  margin-top: 80px;
  fill: #82B3D3;
}

.services-title-housing {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

.services-title-food {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

.services-title-suv {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

.services-description {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0 85px 81px;
  margin: 0;
}

.services-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
}

.services-item {
  min-height: 384px;
  list-style-type: none;
}

.devil-brige {
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

.services-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.search {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 89px;
  padding-bottom: 29px;
  margin: 0;
}

.search-discription  {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding:0;
  margin: 0 304px 0;
  text-align: center;
}
.search-discription-bottom  {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 56px;
  margin: 0 304px 0 284px;
  text-align: center;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-big:hover {
  background-color: #615048;
}
.button-big:focus {
  background-color: #615048;
}
.button-big:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-small {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 19px 36px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.button-small:hover {
  background: #68A2CA;
}
.button-small:focus {
  background: #68A2CA;
}
.button-small:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-want {
  display: block;
  box-sizing: border-box;
  background-color: #756157;
  max-width: 160px;
  padding: 9px 36px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-right: 70px;
  margin-left: 20px;
}

.button-want:hover {
  background-color: #615048;
}
.button-want:focus {
  background-color: #615048;
}
.button-want:active {
background-color: #756157;
color: rgba(255, 255, 255, 0.3);
}

.button-all {
  display: block;
  box-sizing: border-box;
  background-color: #756157;
  width: 574px;
  min-height: 60px;
  margin: 0 313px 93px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.newsletter {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-image: url("../images/newsletter-background.jpg");
  background-color: #82B3D3;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-catalog {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.page-footer-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 398px 29px;
}

.newsletter-info {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0px 362px 46px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
  min-height: 60px;
  padding: 0 200px 94px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  align-items: center;
  padding: 0 20px;
  border: 0;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
}

.field:hover {
  background: #E6E6E6;
}
.field:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}
.field:active {
  background: #FFFFFF;
  border: 2px solid #000000;
}

.apply-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 35px;
  margin-bottom: 15px;
  margin-top: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  border: 0;
  z-index: 1;
}

.apply-button:hover {
  background-color: #68A2CA;
}
.apply-button:focus {
  background-color: #68A2CA;
}
.apply-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}
.newsletter-button:focus {
  background-color: #68A2CA;
}
.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-text:active {
  opacity: 0.3;
}


.page-footer-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-left: 69px;
}

.footer-social-item {
  position: relative;
  width: 47.33px;
  height: 40px;
  margin-top: 45px;

}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-tel {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.contacts-phone {
  display: flex;
  margin: 0;
  margin-top: 40px;
  padding: 5px 194px;

}

.footer-social {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.social-icon:hover {
  fill: #68A2CA;
}
.social-icon:focus {
  fill: #68A2CA;
}
.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-buttons {
  width: 47px;
  height: 40px;
}


.html-logo{
  fill:#000000;
}

.html-logo:hover {
  fill: #756157;
}
.html-logo:focus {
  fill: #756157;
}
.html-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-academy {
  margin: 0;
  padding: 0;
}

.footer-developer {
  display: block;
  padding: 49px 0 38px;
  margin-right: 71px;
}

.button-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}
.contacts-phone:focus {
  color: #756157;
}
.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}


.main-inner {
  align-items: flex-start;
}

.inner-header {
  display: block;
  background-image: url("../images/catalog-background.jpg");
  color: #ffffff;
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-section {
  margin-left: 70px;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 35px 0 10px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus {
  color: #FFFFFF;
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  fill: #ffffff;
}

.breadcrumbs-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-home:focus {
  fill: #FFFFFF;
}
.breadcrumbs-home:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::before {
  content:'';
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 10px;
  background-image: url("../images/crumbs-arrow.svg");
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;

}

.catalog-filter-left {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;
}

.catalog-filter-right {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;
}

.catalog-button {
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}

.catalog-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 76px;
  max-width: 170px;

}

.catalog-result-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0 70px 0 0 ;
  border:0 none;
  padding: 0;

}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;
}

.catalog-filter-title-right{
  padding: 0;
  margin-bottom: 34px;
}

.catalog-filter-item {
  margin-bottom: 10px;
}


.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.control-input+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 4px;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.control-input:checked+label::before {
  background-color: #ffffff;
  background-image: url("../images/checkbox.svg");
  background-size: 18px;
}

.control-input+label::before:hover {
  background: rgba(255, 255, 255, 0.6);
}
.control-input:focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}
.control-input:active + label::before {
  background: rgba(255, 255, 255, 0.3);
}

.control-input:checked+label::before:hover {
  background: rgba(255, 255, 255, 0.6);
  background-image: url("../images/checkbox.svg");
}
.control-input:checked:focus+label::before {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
  background-image: url("../images/checkbox.svg");
}
.control-input:checked:active+label::before {
  background: rgba(255, 255, 255, 0.3);
  background-image: url("../images/checkbox.svg");
}


.control-input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-input-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.control-input-radio+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 10px;
  margin-right:19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.control-input-radio:checked+label::before {
  background-color: #ffffff;
  background-image: url("../images/radio.svg");
  background-size: 18px;
}
.control-input-radio+label::before:hover {
  background: rgba(255, 255, 255, 0.6);
}
.control-input-radio:focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}
.control-input-radio:active + label::before {
  background: rgba(255, 255, 255, 0.3);
}

.control-input-radio:checked+label::before:hover {
  background: rgba(255, 255, 255, 0.6);
  background-image: url("../images/radio.svg");

}
.control-input-radio:checked:focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
  background-image: url("../images/radio.svg");

}
.control-input-radio:checked:active + label::before {
  background: rgba(255, 255, 255, 0.3);
  background-image: url("../images/radio.svg");

}

.control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-filter-group {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
}

.catalog-fillter-right{
  margin: 0;
  padding-bottom: 34px;
}

.catalog-price {
  display: grid;
  grid-template-columns: 144px 144px;
  position: relative;
  height: 48px;
}

.catalog-price-form {
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.catalog-price-form:hover {
  border: 2px solid #b5bcbf;
  z-index: 2;
}
.catalog-price-form:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  z-index: 2;
}
.catalog-price-form:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  z-index: 2;
}

.catalog-price-before {
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-price-before:hover {
  border: 2px solid #b5bcbf;
  z-index: 2;
}
.catalog-price-before:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  z-index: 2;
}
.catalog-price-before:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  z-index: 2;
}

.price-from {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 44px;
  width: 144px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  padding: 0 17px;

  appearance: textfield;
}

.price-from::-webkit-outer-spin-button,
.price-from::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}



.catalog-price-form::before {
  content: 'от';
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.3;
  top: 13px;
  left: 110px;
}

.catalog-price-before::before {
  content: 'до';
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.3;
  top: 13px;
  left: 250px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 26px;
}

.price-slider {
  width: 287px;
  height: 4px;
  background-color: #61686D;
  margin-top: 29px;
  position: relative;
}

.price-slider-white {
  height: 4px;
  background-color: #ffffff;
  position: absolute;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;

}

.toggle-max {
  top: -8px;
  right: -10px;
}

.select-control{
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 13px;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  float: left;
  background-color: transparent;
  border: medium none;
  width: 100px;
  min-height: 32px;
  margin: 0 auto;
}

.reset-button:hover {
  opacity: 0.6;
}
.reset-button:focus{
  border: 3px solid #83B3D3;
  border-radius: 4px;
}
.reset-button:active {
  opacity: 0.3;
}

.catalog-result {
  display: flex;
  flex-direction: column;

  margin-left: 72px;
  margin-right: 71px;
}

.catalog-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 57px;
}

.search-result {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;
}

.sorting-container-buttons {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
}

.sorting-container-buttons:nth-child(3n) {
  margin-right: 0;
}

.sorting-container-buttons:hover {
  border: 2px solid #000000;
}

.sorting-container-buttons:focus {
  border: 2px solid #68A2CA;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 290px;
  margin-left: 191px;
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  align-items: start;
  gap: 0 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}

.hotel-list::after {
  border-bottom: 1px solid #E6E6E6;
  content: "";
  width: 1055px;
  position: absolute;
  bottom: -66px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  min-width: 300px;
  min-height: 398px;
  padding: 20px;
}

.hotel-card-info {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content auto min-content;
  justify-content: center;
  gap: 15px 20px;
}

.button-details {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 0;
}

.button-fav {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 0;
}

.button-favorite {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 0;
}

.hotel-card-image{
  object-fit: fill;
  align-self: stretch;
}

.hotel-card-stars {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items:center;
  margin: 0;
  padding: 0;
}

.hotel-star {
  margin-right: 6px;
  padding-top: 5px;
}

.hotel-star-img {
  fill: #82B3D3;
}

.hotel-card-title {
  display: block;
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-button {
  border-radius: 4px;
}

.button-details {
  background-color: #756157;
}

.button-details:hover {
  background-color: #615048;
}
.button-details:focus {
  background-color: #615048;
}
.button-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-fav {
  background-color: #82B3D3;
}

.button-fav:hover {
  background-color: #68A2CA;
}
.button-fav:focus {
  background-color: #68A2CA;
}
.button-fav:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite {
  background-color: #7DB54F;
}

.button-favorite:hover {
  background-color: #6C9E42;
}
.button-favorite:focus {
  background-color: #6C9E42;
}
.button-favorite:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  align-content: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  padding: 9px 0;
  justify-content: center;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 30px 0 25px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  align-items:center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-amount {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 20px;
  border-radius: 4px;
}

.pagination-item:not(.item-grey ):hover {
  background-color: #68A2CA;
}
.pagination-item:not(.item-grey ):focus {
  background-color: #68A2CA;
}
.pagination-item:not(.item-grey ):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:active {
  opacity: 0.3;
}

.item-grey {
  background-color: #F2F2F2;
}

.pagination-current {
  color: #000000;
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 20px;
  border-radius: 4px;
}

.amount-hotel {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-right: 51px;
  padding-top: 20px;
}

.amount-hotel-item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 386px;
  justify-content: flex-end;
}

.amount-item {
  display: flex;
  width: 160px;
  height: 49px;
  padding: 5.5px 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.modal-container {
  /* display: flex; */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
}

.modal-auth {
  width: 575px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 13px;
  height: 13px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 26.5px;
}

.modal-title {
  display: block;
  margin: 0 0 63px 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 40px;
}

.auth-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.date-lebel {
  display: block;
}

.field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.auth-form-field {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 18px;
  width: 384px;
  min-height: 50px;
}

.auth-form-div {
  position: relative;
  width: 420px;
  height: 50px;
  padding: 0;
  margin: 0;
  background: #F2F2F2;
  border-radius: 4px;
}

.auth-form-div::after {
  position: absolute;
  content: '';
  background-image: url("../images/calendar.svg");
  width: 15px;
  height: 15px;
  right: 19px;
  top: 18px;
  opacity: 0.3;
}

.div-arrival::before {
  position: absolute;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  content: 'Мы не можем отправить вас в прошлое.';
  top: 58px;

}

.div-departure::before {
  position: absolute;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  content: 'На эти даты есть свободные номера. Пока есть.';
  top: 58px;

}

.date-lebel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.visitors-number-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.date-plus-minus {
  display: grid;
  grid-template-columns: 51px 35px 51px;
  justify-content: space-between;
  align-items: center;
  width: 133px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 4px;

}

.count-form-group-old {
  display: flex;
  width: 288px;
  justify-content: space-between;
  align-items: center;
}

.count-form-group-child {
  display: flex;
  position: relative;
  width: 230px;
  justify-content: space-between;
  align-items: center;
}

.visitors-number {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: none;
  background-color: transparent;
  width: 31px;
  height: 50px;
  text-align: center;

}

.plus-minus-button {
  position: relative;
  border: none;
  background-color: #F2F2F2;
  width: 13px;
  height: 13px;
  padding: 18px 19px 19px 19px;
  cursor: pointer;
}

.auth-form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 10px;
  padding: 12px 256px;
}

.minus-svg-old {
  position: absolute;
}
.plus-svg-old {
  position: absolute;
  top: 13px;
}
.minus-svg-child {
  position: absolute;
}
.plus-svg-child {
  position: absolute;
  top: 13px;
}

.child-date-lebel {
  position: relative;
}

.info-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;

}

.info-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
}

.info-icon:hover {
  fill: #68A2CA;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-container-close {
  display: none;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  color: #ffffff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 22px 18px 22px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
  width: 212px;
  position: absolute;
  margin-top: 9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.info-button:hover + .tooltip-text,
.info-button:focus + .tooltip-text {
  display: block;
}

